@tailwind base;
@tailwind components;
@tailwind utilities;
svg .s0 {
    @apply fill-primary-600;
}

aside {
    @apply max-w-xs p-4 bg-transparent border shadow-lg border-neutral-300/30 basis-64 dark:border-neutral-600;
}
aside ul.additional-menu {
    @apply w-full my-3;
    &:not(:first-of-type) {
        @apply mt-8;
    }
    div.title {
        @apply flex items-center p-3 mb-3 space-x-4 text-sm antialiased font-medium tracking-widest capitalize border-b-2 rounded-t-none border-primary-900/90 text-neutral-700 dark:text-neutral-300 dark:border-primary-500/50;
        i {
            @apply text-2xl text-secondary-400;
        }
    }

    li {
        @apply border-b dark:border-neutral-600;
        a {
            @apply flex items-center px-3 py-0.5 space-x-4 text-sm font-medium text-neutral-600 dark:text-neutral-300;
            &.active {
                @apply text-primary-600;
            }
            i {
                @apply p-0.5 text-2xl;
            }
        }
    }
    li:hover {
        @apply bg-neutral-200 dark:bg-neutral-600;
    }
    li:first-of-type {
        @apply pt-1;
    }
    li:last-of-type {
        @apply pb-1 border-b-0;
    }
}

/* sidebar */
.sidebar-menu {
    a {
        @apply h-10 w-12 dark:text-neutral-500 rounded-md flex items-center justify-center;
        &.active {
            @apply dark:bg-neutral-700 dark:text-white bg-primary-100 text-primary-500;
        }
        i {
            @apply text-2xl;
        }
    }
}
